<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin_fragments :: adminhtml_head"/>

<body>

<aside th:replace="admin_fragments :: side_nav"/>

<div id="right-panel" class="right-panel">

    <aside th:replace="admin_fragments :: adminheader"/>

    <div class="content">

        <div class="header">
            <h4 class="title">Add new Book</h4>
            <p class="category">fill out & click save</p>
            <div>
                <a th:href="@{/adminbook/adminViewallbooks}" class="btn btn-primary btn-sm mb-3">Back</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <div th:if="${param.error}">
                        <div class = "alert alert-info">Some fields can not be empty</div>
                    </div>
                    <form th:object="${book}" th:action="@{/adminbook/book/create}" th:method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{bookId}"/>
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" aria-describedby="title" th:field="*{title}"
                                   playeholder="Harry Potter and the Deathly Hollows">
                        </div>
                        <div class="form-group">
                            <label for="title">ISBN</label>
                            <input type="text" class="form-control" id="ISBN" aria-describedby="ISBN" th:field="*{ISBN}"
                                   playeholder="Harry Potter and the Deathly Hollows">
                        </div>
                        <div class="form-group">
                            <label for="title">Price</label>
                            <input type="text" class="form-control" id="price" aria-describedby="ISBN" th:field="*{price}"
                                   playeholder="Harry Potter and the Deathly Hollows">
                        </div>
                        <div class="form-group">
                            <label for="title">Publisher</label>
                            <input type="text" class="form-control" id="publisher" aria-describedby="ISBN"
                                   th:field="*{publisher}"
                                   playeholder="Harry Potter and the Deathly Hollows">
                        </div>
                        <div class="form-group">
                            <label>Item Logo: </label>
                            <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg"/>
                        </div>
                        <div class="form-group">
                            <img id="thumbnail" alt="Logo Preview" height="100px" width="100px">
                        </div>
                        <div class="form-group">
                            <label for="category">Category(You can select multiple)</label>
                            <select id="category" class="form-control" th:field="*{categories}" multiple="multiple">
                                <option th:each="category : ${categories}" th:text="${category.category_name}"
                                        th:value="${category.category_id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="author">Category</label>
                            <select id="author" class="form-control" th:field="*{authors}" multiple="multiple">
                                <option th:each="author : ${authors}" th:text="${author.author_name}"
                                        th:value="${author.author_id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date">Published date</label>
                            <input type="text" class="form-control" id="date" data-provide="datepicker"
                                   th:field="*{pubdate}"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea rows="4" type="textarea" class="form-control" id="description"
                                      th:field="*{description}" playeholder="type here ..."/></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary offset-6">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    <script type="text/javascript">

        $(document).ready(function () {
            $('#fileImage').change(function () {
                showImageThumbnail(this);
            })
        })

    function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        }

        reader.readAsDataURL(file);
    }
</script>

<div th:replace="admin_fragments :: adminscript"/>

</body>

</html>