<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin_fragments :: adminhtml_head"/>

<body>

<aside th:replace="admin_fragments :: side_nav"/>

<div id="right-panel" class="right-panel">

    <aside th:replace="admin_fragments :: adminheader"/>

    <div class="content">

        <div class="container col-6">
            <h2>Add new Author</h2>
            <div th:if="${param.error}">
                <div class = "alert alert-info">Name can not be empty</div>
            </div>

            <form action="#" th:action="@{/adminbook/saveAuthor}" th:object="${author}" method="post">
                <input type="text" th:field="*{author_name}" placeholder="Author Full Name" class="form-control mb-4">


                <button type="submit" class="btn btn-info col-3">Save Author</button>
            </form>
        </div>

    </div>

</div>


<div th:replace="admin_fragments :: adminscript"/>

</body>

</html>