<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- header-->
<head th:replace="fragments :: html_head" />

<body>

<!--navbar-->
<nav th:replace="fragments :: html_navbar" />

<div class="container my-2" align="center">
    <h1>Order List</h1>

    <table class="table table-striped table-dark table-responsive-md col-md-10" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Date Purchased</th>
            <th>Status</th>
            <th>Shipping Status</th>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${listOrders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.datecreation}"></td>
            <td th:text="${order.name}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.user.user_fName}"></td>
            <td th:text="${order.user.user_lName}"></td>
            <td><a th:href="@{'/adminbook/order/' + ${order.id}}" class="btn btn-primary">View</a>
            </td>
<!--            <td th:each="author : ${listAuthors}" th:if="(${author.author_id} == ${book.bookId})" th:text="${author.author_name}"></td>-->
<!--            <td th:each="category : ${listCategories}" th:if="(${category.category_id} == ${book.bookId})" th:text="${category.category_name}"></td>-->
            <!--            <td> <a th:href="@{/adminbook/showFormUpdate/{author_id}(author_id=${author.author_id})}" class="btn btn-primary">Edit</a>-->
            <!--                <a th:href="@{/adminbook/deleteAuthor/{author_id}(author_id=${author.author_id})}" class="btn btn-danger">Delete</a>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
</div>

<!--footer-->
<div th:replace="fragments :: html_footer"/>

</body>

</html>