<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- header-->
<head th:replace="fragments :: html_head"/>

<body>

<!--navbar-->
<nav th:replace="fragments :: html_navbar"/>

<div class="container" align="center">
    <h3>Cart</h3>
    <form th:action="@{/customer/cart/update}" method="post">
        <table border="1" class="table table-striped table-dark table-responsive-md col-md-10">
            <tr>
                <th>Cancel</th>
                <th>ID</th>
                <th>Logo</th>
                <th>Title</th>
                <th>Price</th>
                <th>
                    Quantity
                    <input type="submit" value="Update" />
                </th>
                <th>sub Total</th>
            </tr>
            <tr th:each="cartItem : ${session.cart}">
                <td align="center"><a th:href="@{'/customer/remove/' + ${cartItem.book.bookId}}">X</a></td>
                <td th:text="${cartItem.book.bookId}"></td>
                <td><img th:src="@{${cartItem.book.LogoImagePath}}" height="50px" width="50px"></td>
                <td th:text="${cartItem.book.title}"></td>
                <td th:text="${cartItem.book.price}"></td>
                <td>
                    <input type="number" th:value="${cartItem.quantity}" name="quantity" style="width: 50px"/>
                </td>
                <td th:text="${cartItem.book.price * cartItem.quantity}"></td>
            </tr>
            <tr>
                <td colspan="6">Total</td>
                <td th:text="${total}"></td>
            </tr>
        </table>
    </form>
    <br/><br/>
    <div class="row" align="center">
        <a th:href="@{/customer/book}" class="btn btn-primary btn-sm mb-3 offset-4">Continue Shopping</a> |
        <a th:href="@{/customer/checkout}" class="btn btn-primary btn-sm mb-3 offset-5">Check Out</a>
    </div>
</div>

<!--footer-->
<div th:replace="fragments :: html_footer"/>

</body>

</html>