<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- header-->
<head th:replace="Cust_fragments :: html_head"/>

<body>
<!--page header-->
<nav th:replace="Cust_fragments :: page_header"/>
<!--navbar-->
<nav th:replace="Cust_fragments :: navigation_bar"/>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <form th:action="@{/customer/cart/update}" method="post">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Logo</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">
                                Quantity <input type="submit" value="Update" />
                            </th>
                            <th scope="col" class="text-right">Sub Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartItem : ${session.cart}">
                            <td><img th:src="@{${cartItem.book.LogoImagePath}}" height="50px" width="50px"></td>
                            <td th:text="${cartItem.book.title}"></td>
                            <td th:text="${cartItem.book.price}"></td>
                            <td><input name="quantity" class="form-control" type="number" th:value="${cartItem.quantity}"/></td>
                            <td class="text-right" th:text="${cartItem.book.price * cartItem.quantity}"></td>
                            <td class="text-right">
                                <a th:href="@{'/customer/remove/' + ${cartItem.book.bookId}}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td class="text-right" th:text="${total}"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a th:href="@{/customer/book}" class="btn btn-block btn-light">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a th:href="@{'/customer/checkout/' + ${total}}" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:replace="Cust_fragments :: footer"/>

<!--scripts-->
<div th:replace="Cust_fragments :: scripts"/>

</body>

</html>