<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- header-->
<head th:replace="fragments :: html_head" />

<body>

<!--navbar-->
<nav th:replace="fragments :: html_navbar" />


<div class="container">
    <h1>Welcome, User: <span sec:authentication="principal.username"></span>...Role:<span sec:authentication="principal.authorities"></span></h1>
    <div sec:authorize="hasAuthority('Admin')">
        <h3>You will see this only if you are Admin</h3>
        <p>
           <a>Admin Home</a>
        </p>
    </div>

    <div sec:authorize="hasAuthority('User')">
        <h3>You will see this only if you are User</h3>
        <p>
            <a>Admin Home</a>
        </p>
    </div>
</div>

<!--footer-->
<div th:replace="fragments :: html_footer"/>

</body>

</html>