<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header-->
<head th:replace="fragments :: html_head" />


<body>
<!--navbar-->
<nav th:replace="fragments :: html_navbar" />

<div class="container my-2">



    <div th:switch="${users}" class="container my-5 center-block">
    <a href="/users/signup" class="btn btn-primary"><i
            class="fas fa-user-plus ml-2"> Add User</i></a>
        <br /><br />
    <h2 th:case="null">No Users added yet!</h2>
    <div th:case="*">
    <table class="table table-striped table-dark" >
        <thead>
        <tr>
            <th scope="col" style="padding: .25rem">user_fName</th>
            <th style="padding: .25rem">user_lName</th>
            <th style="padding: .25rem">user_email</th>
            <th style="padding: .25rem">username</th>
            <th style="padding: .25rem">password</th>
            <th style="padding: .25rem">user_phoneNo</th>
            <th style="padding: .25rem">user_address</th>
            <th style="padding: .25rem">userRole</th>
            <th style="padding: .25rem">Edit</th>
            <th style="padding: .25rem">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.user_fName}"></td>
            <td th:text="${user.user_lName}"></td>
            <td th:text="${user.user_email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.user_phoneNo}"></td>
            <td th:text="${user.user_address}"></td>
            <td th:text="${user.userRole}"></td>
            <td><a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
            <td><a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>

</div>
<!--footer-->
<div th:replace="fragments :: html_footer"/>
</body>

</html>