<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header-->
<head th:replace="fragments :: html_head" />
<style>
    .center_div{
        margin: 0 auto;
        width:80% /* value of your choice which suits your alignment */
    }
    h1 {
        text-align:center;
    }
</style>
<body>

<!--navbar-->
<nav th:replace="fragments :: html_navbar" />

<!--logn form-->
<br>
<br>
<br>
<div class="container h-100">
    <div class="row my-5">
        <div class="col-md-6 col-md-offset-3 center_div border border-dark rounded .bg-light">
             <h1>Login</h1>
            <form th:action="@{/login}" method="post">
<!--                error message-->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.</div>
                </div>

<!--                logout message-->
                <div th:if="${param.logout}">
                    <div class="alert alert-danger">You have been logged out.</div>
                </div>

                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col text-center">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In"  />
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group text-center">
                <span>New user? <a href="/" th:href="@{/registration}">Register Here</a></span>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<div th:replace="fragments :: html_footer"/>

</body>
</html>